<form action="/youtube/info" method="post">
    <div class="search-bar">
        <input type="search" name="url" class="search-input" placeholder="INPUT A YOUTUBE URL"/>
        <input type="submit" value="START" class="search-submit" />
    </div>
</form>