body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.row {

    width: 100%;
}
.col-6 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.search-bar {
    margin: auto;
    max-width: 610px;
    top: 300px;
    margin-bottom: 50px;
}

.search-bar .search-input {
    border-radius: 0px;
    margin: 0;
    background-color: white;
    height: 60px;
    outline: none;
    border: 1px solid #dbdbdb;
    width: 500px;
    font-size: 13px;
    padding: 0 10px;
}

.search-bar .search-submit {
    border-radius: 0;
    height: 60px;
    color: white;
    background-color: #ef6e7e;
    border: 1px solid #ea4055;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    font-size: 14px;
    margin-left: -5px;
    padding-left: 20px;
    padding-right: 20px;
}

.video-thumbnail {
    border: 1px solid #f5f5f5;
}

.video-title {
    font-size: 14px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

table.table {
    border-spacing: 0;
    border: 1px rgba(0, 0, 0, 0.12) solid;
    min-width: 100%;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table.table thead > tr {
    height: 56px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    font-weight: bold;
    text-align: inherit;
    padding: 20px 30px;
}

table.table td:first-child, table.table th:first-child {
    padding: 20px 30px;

}
table.table td, table.table th{
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 1px solid #dcdfe4;
    padding: 20px 30px;
}

.align-center {
    text-align: center;
}